section{
    h3{
        font-family: inter;
        font-size: 30px;
        font-weight: 500;
        color: orangered;
    }
    main{
        display: flex;        
    }
}

.loader-container {
    text-align: center;
    padding: 20px;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
  }
  
  .error-message {
    color: red;
    text-align: center;
    padding: 20px;
  }
  
  .category-item {
    position: relative;
    overflow: hidden;
    border: 1.2px solid #d3c5c5;
    border-radius: 20px;
  }
  
  .category-image {
    max-width: 350px;
    max-height: 350px;
    display: block;
    border: 1.2px solid #fff;
  }
  
  .category-name {
    position: absolute;
    bottom: 10px;
    left: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    transition: opacity 0.3s ease;
  }
  
  .category-item:hover .category-name {
    opacity: 1;
    transform: scale(1.2) translateY(0); /* Increase size on hover */
  }
  
  