.sign-upbg{
    background-image:  url('../../assets/signup.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

/* Add your custom styles */
.container {
    max-width: 900px;
    margin: auto;
    .rounded{
        background-color: rgba(255, 255, 255, 0.8);
    }
  }
  

nav .header{
    font-size: 40px;
    font-weight: 500;
    span{
        color: orangered;
    }
}

p{
    font-size: medium;
    font-weight: 400;
}